* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-fira-sans {
    font-family: "Fira Sans", sans-serif;
}

.cursor {
    cursor: pointer;
}

.primary-btn {
    padding: 13px 26px;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    background-color: #006A50;

}


/* Navbar Related styles */
header {
    background-color: #F1F1F3;

    padding-bottom: 80px;
}

header .navbar {
    display: flex;
    max-width: 1280px;
    justify-content: space-between;
    /* border: 1px solid red; */
    /* background-color: bisque; */
    padding: 24px 0;
    align-items: center;
    margin: 0 auto;
}

.navbar h2 {
    font-size: 32px;
    font-weight: 700;
    color: #0E0E0E;
}

.navbar .nav-btn {
    padding: 15px 30px;
    border: 1px solid #006A50;
    border-radius: 8px;
    color: #006A50;
    font-size: 18px;
    font-weight: 600;
    background-color: #ffff;
}


/* Banner Related styles */

header .banner-container {
    max-width: 1280px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 20px;
    align-items: center;
    padding: 80px 60px;
    border: none;
    border-radius: 24px;


    background-color: #C6E4D6;


    /* shadow / gradient*/

    /* background-image: linear-gradient(90deg, rgba(255, 0, 0, 0.685), rgba(44, 233, 19, 0.342)),
        url("./assets/satelite.png");
    background-size: cover;
    background-repeat: no-repeat; */

}

.banner-container .banner-content {
    max-width: 622px;
}

.banner-content h2 {
    font-size: 24px;
    font-weight: 600;
    color: rgba(14, 14, 14, 0.5);
    margin-bottom: 16px;
}

.banner-content h1 {
    font-size: 56px;
    font-weight: 700;
    color: #0E0E0E;
    margin-bottom: 16px;
}

.banner-content .banner-btn {
    padding: 17px 34px;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    background-color: #006A50;

}

.banner-container .banner-image {
    max-width: 474px;
}



main {
    background-color: #F1F1F3;
}

/* Pillers Section related Styles (card) */

.piller-section {
    padding-bottom: 80px;
    max-width: 1280px;
    margin: 0 auto;
    /* background-color: aquamarine; */
}

.piller-section .piller-heading {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 32px;
    color: #0E0E0E;
}

.piller-card-container {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.piller-card-container .piller-card {
    max-width: 302px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background-color: #fff;
    padding: 24px;

}


.piller-card img {
    max-width: 64px;
    margin-bottom: 16px;
}

.piller-card h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px;

}

.piller-card p {
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
}



/* Vision Future section related */

.vision-div {
    max-width: 1280px;
    margin: 0 auto;
    text-align: left;
}

.vision-div .vision-heading {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 32px;
    color: #0E0E0E;
}

.vision-div p {
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
}



.vision-card-container {
    max-width: 1280px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 24px;
    margin-bottom: 32px;

}

.vision-card {
    max-width: 410px;
    /* border: 1px solid black; */
    border-radius: 12px;
    padding: 32px;

}

.vision-card h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px;

}

.vision-card p {
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
}

.vision-card button {
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    /* background-color: #006A50; */
}

.vision-card img {
    max-width: 62px;
    margin-bottom: 16px;
}

.card1 {
    background-color: rgba(84, 144, 245, 0.2);
}

.btn1 {
    background-color: #5490F5;
}

.card2 {
    background-color: rgba(198, 228, 214, 1);
}

.btn2 {
    background-color: #09A15C;
}

.card3 {
    background-color: #F7EBCF;
}

.btn3 {
    background-color: #FFC239;
}




/* Recent News Section */

.news-card-container {
    max-width: 1280px;
    margin: 0 auto;
    padding-bottom: 80px;

}

.news-card {
    display: flex;
    justify-content: space-between;
    background-color: #ffff;
    gap: 32px;
    align-items: center;
    padding: 48px;
    border: none;
    border-radius: 24px;
    margin-bottom: 24px;
}

.news-card-left img {
    max-width: 408px;
    border: none;
    border-radius: 24px;
}

.news-card-right {
    max-width: 744px;
}


.news-card h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px;

}

.news-card p {
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
}

.news-card-right .span {
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
}

.news-card-right img {
    max-width: 134px;
    margin-bottom: 15px;

}

.news-card-two {
    flex-direction: row-reverse;
}


/* Quote SEction */

.quote-card {
    max-width: 1280px;
    margin: 0 auto;
    padding: 48px 24px;
    background-color: #fff;
    border: none;
    border-radius: 24px;

    margin-bottom: 20px;
    position: relative;
}

.quote-card:hover {
    box-shadow: 1px 1px 3px 1px rgba(128, 128, 128, 0.384);
}

.quote-card p {
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);

}

.quote-card .p1 {
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 16px;
}

.quote-card h2 {
    font-size: 23px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 14px;
    color: #0E0E0E;

}

.fa-quote-left {
    font-size: 70px;
    opacity: 0.2;
    /* color: rgba(0, 0, 0, 0.3); */
    position: absolute;

    left: 5px;
    top: 14px;
    z-index: 0;
}