* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-fira-sans {
    font-family: "Fira Sans", sans-serif;
}

.cursor{
    cursor: pointer;
}


/* Navbar Related styles */
header{
    background-color: #F1F1F3;
    padding-bottom: 80px;
}
header .navbar {
    display: flex;
    max-width: 1280px;
    justify-content: space-between;
    /* border: 1px solid red; */
    /* background-color: bisque; */
    padding: 24px 0;
    align-items: center;
    margin: 0 auto;
}

.navbar h2 {
    font-size: 32px;
    font-weight: 700;
    color: #0E0E0E;
}

.navbar .nav-btn {
    padding: 15px 30px;
    border: 1px solid #006A50;
    border-radius: 8px;
    color: #006A50;
    font-size: 18px;
    font-weight: 600;
    background-color: #ffff;
}


/* Banner Related styles */

header .banner-container {
    max-width: 1280px;
    display: flex;
    justify-content: space-around;
    background-color: #C6E4D6;
    margin: 0 auto;
    margin-top: 20px;
    align-items: center;
    padding: 80px 60px;
    border: none;
    border-radius: 24px;
     
    
}

.banner-container .banner-content {
    max-width: 622px;
}

.banner-content h2 {
    font-size: 24px;
    font-weight: 600;
    color: rgba(14, 14, 14, 0.5);
    margin-bottom: 16px;
}

.banner-content h1 {
    font-size: 56px;
    font-weight: 700;
    color: #0E0E0E;
    margin-bottom: 16px;
}

.banner-content .banner-btn {
    padding: 17px 34px;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    background-color: #006A50;

}

.banner-container .banner-image {
    max-width: 474px;
}



main{
    background-color: #F1F1F3;
}

/* Pillers Section related Styles (card) */

.piller-section{
     padding-bottom: 80px;
    max-width: 1280px;
    margin: 0 auto;
    /* background-color: aquamarine; */
}

.piller-section .piller-heading{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 32px;
    color: #0E0E0E;
}

.piller-card-container{
    display: flex;
    justify-content: center;
    gap:24px ;
}

.piller-card-container .piller-card{
    max-width: 302px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background-color: #fff;
    padding: 24px;

}


.piller-card img{
    max-width: 64px;
    margin-bottom: 16px;
}
.piller-card h3{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px;

}

.piller-card p{
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
}